<div class="Popin-more">
    <div class="close">
        <i class="zmdi zmdi-close"></i>
    </div>

    <div class="Popin-info">
        <h1>Wife Run</h1>

        <div class="info">
            <p>Projet de début de 2ème année à HETIC sur le thème du jeu vidéo à faire en deux jours.<br>
            Notre scénario repose sur un homme voulant rejoindre ses amis au bar alors que sa femme l'en empêche en lui jetant toutes sortes d'objets.<br>
            Le projet a énormément séduit le jury ce qui nous a valu la première place !</p>
            <ul>
                <li><span>2015</span></li>
                <li><span>HETIC - Projet Wall Of Music</span></li>
                <li><span>Développeuse Front</span></li>
            </ul>
        </div>

        <img src="img/data/wr1.png" alt="">
        <img src="img/data/wr2.png" alt="">
        <img src="img/data/wr3.png" alt="">
        <img src="img/data/wr4.png" alt="">

        <span class="caption">* le jeu n'est pas responsive - Veuillez tester le jeu sous une fenêtre de 1268*845</span>

        <div class="cl-effect-8 button-01">
            <a href="game/wiferun/wiferun/" target="_blank">Voir le jeu</a>
        </div>

    </div>
</div>