<div class="Popin-more">
    <div class="close">
        <i class="zmdi zmdi-close"></i>
    </div>

    <div class="Popin-info">
        <h1>Wall Of Music</h1>

        <div class="info">
            <p>Projet de fin de deuxième année à HETIC sur le thème des playlists musicales.<br>
            En concurrence avec une dizaine d'équipes, nous devions en parallèle de l'alternance travailler sur ce projet.<br>
            Nous avons réussi le challenge en nous plaçant premier !</p>
            <ul>
                <li><span>2015</span></li>
                <li><span>HETIC - Projet Wall Of Music</span></li>
                <li><span>Développeuse Front</span></li>
            </ul>
        </div>

        <img src="img/data/wom1.png" alt="">
        <img src="img/data/wom2.png" alt="">
        <img src="img/data/wom3.png" alt="">
        <img src="img/data/wom4.png" alt="">
        <img src="img/data/wom5.png" alt="">

    </div>
</div>