<div class="Popin-more">
    <div class="close">
        <i class="zmdi zmdi-close"></i>
    </div>

    <div class="Popin-info">
        <h1>Selty</h1>

        <div class="info">
            <p>Projet de fin d'année de mon DUT Métiers du Multimédia et de l'Internet.<br>
            Nous devions faire une application utilisant la géolocalisation et l'Open Data.</p>
            <ul>
                <li><span>2015</span></li>
                <li><span>Laval - Projet tuteuré de fin d'année</span></li>
                <li><span>Développeuse Front</span></li>
            </ul>
        </div>

        <div class="video">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/9UImVyjXFO8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>


    </div>
</div>