<div class="Popin-more">
    <div class="close">
        <i class="zmdi zmdi-close"></i>
    </div>

    <div class="Popin-info">
        <h1>Room Saveur</h1>

        <div class="info">
            <p>Projet fait en 3ème année à HETIC pour Room Saveur et Digital Village dans le cadre d'un projet client réel. <br>
            En concurrence avec une dizaine d'équipes nous avions une semaine pour trouver un concept innovant et le réaliser. <br>
            Nous avons remporté le challenge ! </p>
            <ul>
                <li><span>2016</span></li>
                <li><span>HETIC - Projet Client</span></li>
                <li><span>Développeuse Front</span></li>
            </ul>
        </div>

        <img src="img/data/rs2.png" alt="">
        <img src="img/data/rs1.png" alt="">
        <img src="img/data/rs4.png" alt="">
        <img src="img/data/rs3.png" alt="">
    </div>
</div>