<div class="Popin-more">
    <div class="close">
        <i class="zmdi zmdi-close"></i>
    </div>

    <div class="Popin-info">
        <h1>Festival de cannes</h1>

        <div class="info">
            <p>Dans le cadre de mon alternance à Ohwee, j'ai eu l'opportunité de travailler sur le front du Festival de Cannes.</p>
            <ul>
                <li><span>2016</span></li>
                <li><span>Alternance Ohwee</span></li>
                <li><span>Développeuse Front</span></li>
            </ul>
        </div>

        <img src="img/data/fdc1.png" alt="">
        <img src="img/data/fdc2.png" alt="">
        <img src="img/data/fdc3.png" alt="">


        <div class="cl-effect-8 button-01">
            <a href="http://www.festival-cannes.com/fr/" target="_blank">Voir le site</a>
        </div>

    </div>
</div>